
/* Webfont */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&family=Lobster&family=Roboto+Slab&display=swap');
.lobster-regular {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-slab {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.barlow-condensed-extrabold {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
}
h1,h2,h3,h4, nav a {
    font-family: "Lobster", sans-serif;
}
/* Global CSS */
*{
    margin: 0px;
    font-family: "Barlow Condensed", sans-serif;
}
#container{
    background-color: aliceblue;
}

/* Hero Carousel Section*/
.carousel-item {
    transition: transform 1s ease-in-out !important;
}

.carousel-item .col {
    height: 35rem;
}

#HeadCarousel {
    background-color: rgb(255, 245, 205);
}

#CarouselTitle,
#CarouselPagaraph {
    color: rgb(106, 154, 176);
}

#CarouselPagaraph {
    font-size: clamp(20px, 1.2vw, 100px);
}

#CarouselTitle {
    text-decoration: overline underline;
}

/* Carousel images */
#carousel-img1,
#carousel-img2,
#carousel-img3 {
    max-width: 100%;
    max-height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
}

/* Specific image backgrounds */
#carousel-img1 {
    background-image: url(../images/carousel-img1.jpg);
}

#carousel-img2 {
    background-image: url(../images/carousel-img2.jpg);
}

#carousel-img3 {
    background-image: url(../images/carousel-img3.jpg);
}

/* Logo Styles */
#Logo, #LogoFooter{
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 100px;
    background-image: url(../images/Logo.png);
}
#Logo {
    width: 175px;
    height: 175px;
}
#LogoFooter{
    width: 130px;
    height: 130px;
}
/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .carousel-item .col {
        height: 25rem;
        /* Adjust height for smaller screens */
    }

    #CarouselTitle {
        font-size: clamp(24px, 4vw, 36px);
        /* Responsive title size */
    }

    #CarouselPagaraph, .card h3{
        font-size: clamp(16px, 2vw, 24px);
        /* Adjust paragraph text size for smaller screens */
    }
}
#LogoContainer{
    background-color: rgb(234, 216, 177);
}
#HeadNav{
    background-color: rgb(212, 195, 158);
}
#footer{
    background-color: rgb(234, 216, 177);
}


/* Best Sellers Section */
/* Product Cards */

.card h3 {
    font-size: 150%;
}
.card{
    height: 100%;
}
.card-body{
    background-color: rgb(211, 220, 182);
    width: 100%;
    height: 100%;
}
.card-img-top {
    height: 150px;
    object-fit: cover;
}
.card-content{
    height: 150px;
}
.section-bestsellers .carousel-indicators{
    bottom: -37px !important;
}
.carousel-indicators button{
    width: 8px !important;
    height: 8px !important;
    border-radius: 70%;
}
.section-bestsellers .carousel-control-next{
    right: -120px !important;
}
.section-bestsellers .carousel-control-prev {
    left: -120px !important;
}
.section-bestsellers .container-fluid{
    background-color: rgb(161, 214, 178);
}


/* About Us Section */

.section-aboutus p{
    font-family: "Roboto Slab",sans-serif;
    font-size: small;
}

.section-aboutus a{
    text-decoration: none;
    color: #000;
}


/* Sales Section */

    /* Empty */



/* Footer */

ul{
    list-style: none;
}
